.app-for-devices{
    margin-top: 229px ;
    padding: 0px 86.19px 0px 100px;

    .app-for-devices-content{
        

        h1{
            font-size: 40px;
            margin: 0px;
        }
        h2{
            font-size: 24px;
            
        }

        ul{
            margin-top: 25px;
            li{
                margin-bottom: 32px;
            }
        }

        
        
    }


    .almot-everything{
        margin-top: 160px;

        
    }

    
}