.brands {
    margin-top: 220.94px;
    background: #F8FBFF;
    height: 167px;
    padding-right: 205px;
    padding-left: 204px;
    padding-top: 32px;
    padding-bottom: 31px;

    .brand-image:not(:last-child) {
        margin-right: 135px;
    }
}





@media screen and (max-width: 968px) {
    .brands {
        margin-top: 153px;
        background: #F8FBFF;
        height: auto;
        padding-right: 0px;
        padding-left: 0px;
        padding-top: 32px;
        padding-bottom: 31px;

        img:nth-child(odd){
            display: none  !important;
        }
    
        .brand-image:not(:last-child) {
            margin-right: 0px;
        }
    }

    
}