.dashboard-analysis {
    margin-top: 160px;
    height: 769px;
    background: transparent url("../Assets/Component\ 40\ –\ 1.svg") 0% 0% no-repeat padding-box;
    background-size: cover;

    .dashboard-analysis-content{
        margin-top: 40px;
        margin-left: 100px;
        margin-right: 189px;

        h1{
            font-size: 40px;
        }
        
    }


}