.dashboard-analysis {
    margin-top: 160px;
    height: 769px;
    background: transparent url("../Assets/bg2x.png");
    background-size: cover;
    padding-top: 40px;

    .dashboard-analysis-content{
        
        // margin-left: 100px;
        // margin-right: 189px;

        h1{
            font-size: 40px;
        }
        
    }


}