

.footer{
    box-shadow: 0px -3px 6px #B1B1B129;


    .footer-end {

        padding: 41px 106px 0 100px;
        img {
            width: 27px;
            height: 19px;
        }
    
        p{
            color: #1760A6;
        }
    
        ul{
            color: #1760A6;
        }
    }
    
    .footer-end-bottom{
        margin-top: 40px;
        height: 59px;
        background: #1760A6 0% 0% no-repeat padding-box;
        padding-top: 19px;
        padding-bottom: 18px;
    }


}

.footer {
    ul {
        li {
            
        }
    }
}