.free-demo {
    margin-top: 161px;
    background: transparent url("../Assets/bg2x.png");
    background-size: cover;
    // background: no-repeat;
    height: 268px;
    margin-bottom: 160px;
    padding-top: 40px;

    h1 {
        // margin-top: 40px;
        font-size: 40px;
        margin-bottom: 0px;
    }
    p {
        margin-top: 8px;
        margin-bottom: 0px;
    }
    .btn {
        // width: 217px;
        height: 42px;
        margin-top: 24px;
        padding: 10px 17px 10px 19px;
        background: #ffffff;
        color: #1760a6;
    }
}
