@import "./variables";

.hero {
    background: transparent url("../Assets/bg2x.png");
    background-size: cover;
    height: 769px;
    padding-top: 130px;
    // opacity: 0.8;

    .hero-content {
        
        .best-solution {
            // padding-top: 138px;
            width: 844px;
            height: 157px;

            p {
                font-size: 16px;
                color: $text-color;
            }
            h1 {
                font-size: 40px;
                margin-bottom: 16px;
                color: $text-color;
            }
            h4 {
                font-size: 20px;
                color: #f8ff20;
                margin-bottom: 8px;
            }
        }

        .div-button {
            margin-top: 24px;
            width: 844px;

            .button-demo {
                width: 209px;
                height: 42px;
                background: #ffffff;
                border: 1px solid #ffffff;
                border-radius: 2px;
                margin-right: 16px;
                color: $nav-bg;
                font-size: 16px;
            }

            .button-works {
                width: 175px;
                height: 42px;
                background: transparent;
                border: 1px solid #ffffff;
                border-radius: 2px;
                font-size: 16px;
                // padding-top: 10px;
                // padding-bottom: 10px;
                // padding-right: 25px;

                img {
                    margin-right: 10px;
                    // margin: 0px auto;
                }
            }
        }

        .div-vid {
            // position: relative;
            margin-top: 48px;
            width: 792px;
            height: 501px;
            border-radius: 12px;

            img {
                width: 792px;
                height: 501px;
                border-radius: 12px;
            }
        }
    }
}


@media screen and (max-width: 968px) {
    .hero{
        height: 667px;
        padding-top: 108px;
        // margin: 0px 19px 0px 19px;
        .hero-content{
            margin: 0px 19px 0px 19px;
            .best-solution{
                width: 100%  !important;

                p {
                    font-size: 14px;
                    color: $text-color;
                    margin-top: 23px;
                    width: 100%;
                }
                h1 {
                    font-size: 20px;
                    margin-bottom: 16px;
                    color: $text-color;
                }
                h4 {
                    font-size: 18px;
                    color: #f8ff20;
                    margin-bottom: 8px;
                    margin-top: 13px;
                }

                
            }

            .div-button{
                width: 100% !important;
                margin-top: 60px;
                

                .button-demo {
                    margin-right: 0px;
                    margin-top: 38px;
                    display: block;
                    margin: 0px auto;
                }
    
                .button-works {
                    width: 209px;
                    margin-top: 20px;
    
                    img {
                        margin-right: 10px;
                        // margin: 0px auto;
                        // height: 215px;
                    }
                }
            }

            .div-vid {
                height: 215px;
    
                img {
                    height: 215px;
                }
            }




        } 
    }
}

