.message-icon{
    position: fixed;
    width: 56px;
    height: 56px;
    bottom: 50px;
    right: 80px;
    left: 90%;
    background-color: #fff;
    padding: 10px;
    border-radius: 100%;
    box-shadow: 0px 10px 20px #85858529;
    
}