@import "./variables";

.nav_style {
    background: $nav-bg;
    height: 79px;
    padding-left: 106px;
    padding-right: 100px;
    padding-top: 16px;
    padding-bottom: 21px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;

    a {
        // width: 44px;
        height: 22px;
        color: $text-color;
        font-size: 16px;
        text-decoration: none;
        margin-right: 53px;
        padding-top: 0;
        // padding-top: 27px;
        // padding-bottom: 30px;
    }
    // a:hover {
    //     border-bottom: 1px solid white;
    // }
    .active {
        border-bottom: 1px solid white !important;
    }
    // a:visited {
    //     border-bottom: 1px solid white;
    // }

    p {
        margin: 0;
        font-size: 20px;
        color: $text-color;
        margin-top: 7px;
    }

    button {
        width: 146px;
        height: 42px;
        font-size: 16px;

        &:hover {
            opacity: 0.8;
            background: white;
            // color: #1760A6;
        }
    }
}

@media screen and (max-width: 968px) {
    .nav_style {
        padding: 0;
        width: 100%;
        border: 1px solid red;

        .logo,
        .nav-links-btn,
        #req-demo-btn,
        .default-button {
            display: none !important;
        }

        .container{
            background: green;
        }
    }
}
